@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    color: $color-primary;
}