.heading-1,
.heading-2,
.heading-3,
.heading-4,
.subheading-1 {
    font-family: 'Bellefair', serif;
}

.heading-1 {
    font-size: 15rem;
}

.heading-2 {
    font-size: 10rem;
}

.heading-3 {
    font-size: 5.6rem;
}

.heading-4 {
    font-size: 3.2rem;
}

.heading-5 {
    font-size: 2.8rem;
    letter-spacing: 4.75;
}

.subheading-1 {
    font-size: 2.8rem;
}

.subheading-2 {
    font-size: 1.4rem;
    letter-spacing: 2.35;
}