.crew {
    display: grid;
    width: 100%;
    flex-grow: 1;
    grid-template-columns: [desc-start] minmax(min-content, 1fr) [desc-end img-start] 1fr[img-end];
    grid-template-rows: [desc-start] max-content [desc-end control-start] auto [control-end];
    // gap: 0 5%;

    &__description {
        grid-column: desc-start/desc-end;
        grid-row: desc-start/desc-end;
        margin: 15rem 0 0;
        opacity: 0;
        display: none;
        transition: opacity 0.2s;

        &.active {
            opacity: 1;
            display: block;
        }
    }

    &__image {
        grid-column: img-start/img-end;
        grid-row: desc-start/control-end;
        position: relative;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s;
        opacity: 0;

        &.active {
            opacity: 1;
        }

        img {
            position: absolute;
            bottom: 0;
        }
    }

    &__role {
        margin-bottom: 3.5rem;
        opacity: 0.5;
    }

    &__name {
        margin-bottom: 5.5rem;
        white-space: nowrap;
    }

    &__about {
        width: 45rem;
    }

    .control {
        display: flex;
        align-items: center;
        margin: auto 0 10rem;

        &__btn {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: #fff;
            margin-right: 2rem;
            cursor: pointer;
            content: '';
            opacity: 0.2;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.5;
            }

            &.active {
                opacity: 1;
            }
        }
    }

}