.destination {
    margin: 5% 0;
    display: grid;
    width: 100%;
    grid-template-columns: [image-start] 1fr [image-end desc-start] 1fr[desc-end];
    grid-template-rows: [nav-start] auto [nav-end desc-start] 1fr [desc-end];

    &__img {
        grid-row: nav-start/desc-end;
        grid-column: image-start/image-end;
    }

    &__nav {
        grid-row: nav-start/nav-end;
        grid-column: desc-start/desc-end;
        margin-bottom: 5rem;

        &list {
            list-style: none;
            display: flex;
        }

        &item {
            margin-right: 4rem;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    &__name {
        margin: 5rem 0;
    }

    &__data {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}