header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: $color-primary;
}

.logo {
    margin: 6rem;
}

hr {
    flex-grow: 1;
    margin-right: -3rem;
    z-index: 1;
    opacity: 0.3;
}

.nav {
    padding: 0 16rem 0 12rem;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        margin-right: 4rem;

        &:last-child {
            margin-right: 2rem;
        }

    }

    &__link {

        span {
            font-weight: bold;
        }

        &:link,
        &:visited {
            text-decoration: none;
            color: inherit;
            display: inline-block;

            padding: 4rem 0;
            border-bottom: 3px solid transparent;
            transition: all .3s;
        }

        &:hover {
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }

        &.active {
            border-bottom: 3px solid rgba(255, 255, 255);
        }

    }

    &__link:active &__item {
        border-bottom: 3px solid rgb(255, 255, 255);
    }
}