.home {
    position: relative;
}

.hero-text {
    width: min-content;
    position: absolute;
    top: 23rem;
    left: 16rem;

    p {
        font-size: 1.8rem;
        line-height: 3rem;
        color: $color-secondary;
    }
}

.hero-btn {
    position: absolute;
    top: 33rem;
    right: 15rem;
    transform-style: preserve-3d;
    display: flex;
    height: 27rem;
    width: 27rem;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-family: 'Bellefair', serif;
    font-size: 3.2rem;
    letter-spacing: 2px;
    color: $color-black;

    &::after {
        position: absolute;
        transform: translateZ(-1px);
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: inherit;
        transition: all .3s;
    }

    &:hover::after {
        width: 160%;
        height: 160%;
    }
}